.question-errors
= form_for @question, remote: true do |f|
  .field
    = f.label :title, 'Заголовок'
    = f.text_field :title
  .field
    = f.label :body, 'Вопрос'
    = f.text_area :body
  .attachments
    = f.fields_for :attachments, @question.attachments.build do |a|
      = a.label :file, class: "hidden"
      = a.text_field :file
      = a.check_box :_destroy
  .actions
    = f.submit 'Сохранить', class: 'edit-question-button'
