- if user_signed_in?
  = link_to "Новый вопрос", new_question_path

.questions
  - @questions.each do |question|
    %div{class: "question-#{question.id}"}
      %h3= question.title
      = link_to 'Открыть вопрос', question
      -if user_signed_in? && (current_user.id == question.user_id)
        = link_to 'Удалить вопрос', question, method: :delete
        |
        = link_to 'Редактировать вопрос'
      %p= question.body
      = link_to 'Написать ответ',
        new_question_answer_path(question)
    %br

= subscribe_to '/questions'
