.questions
  - @questions.each do |question|
    %div{class: "question question-#{question.id}"}
      .title
      %h3= question.title
      %p= question.body
      = link_to t('.show_question'), question
      -if user_signed_in? && (current_user.id == question.user_id)
        = link_to t('.delete_question'), question, method: :delete
        = link_to t('.edit_question')
      = link_to t('.new_answer'),
        new_question_answer_path(question) if user_signed_in?
    %br

= subscribe_to '/questions'
