%h1 Задайте вопрос

= form_for @question do |f|
  .field
    = f.label :title, 'Заголовок'
    = f.text_field :title  
  .field
    = f.label :body, 'Вопрос'
    = f.text_area :body

  .attachments
    = f.fields_for  :attachments do |a|
      = link_to_add_association 'Добавить ещё один файл', f, :attachments,
        'data-association-insertion-nod' => '.attachments',
        'data-association-insertion-method' =>  'append',
        partial: 'common/attachment_fields'
      %br

  .actions
    = f.submit 'Спросить'
