.question{data: {question_id: @question.id}, id: "question-#{@question.id}"}
  %h1=  "#{t('.question_number')} #{@question.id}"
  = render 'question'
  = render 'common/comments', commentable: @question

  - unless current_user.nil?
    = render 'questions/comment_form'

.answers{data: { question_id: @question.id } } 
  = render 'answers'

= render 'answers/form_new' if user_signed_in?

= subscribe_to "/questions/#{@question.id}/answer"
= subscribe_to "/questions/#{@question.id}/comment"
