.container
  .question
    %h1= "Вопрос № #{@question.id}"
    = render 'question'
    %b{style: "text-decoration:underline"} Файлы:
    %ul
      - @question.attachments.each do |a|
        %li= link_to a.file.identifier, a.file.url


.answers
  = render 'answers'

.container
  = form_for [@question, @answer], remote: true do |f|
    .field
      = f.label :body, 'Новый ответ'
      .answer-errors
      = f.text_area :body
    .actions
      = f.submit 'Отправить ответ'
