%h1 Вопрос
= link_to 'Cписок вопросов', questions_path

%h3= "#{@question.title}"

%p= "#{@question.body}"

.answers
  = render 'answers'

= form_for [@question, @answer], remote: true do |f|
  .field
    = f.label :body, 'Новый ответ'
    = f.text_area :body
  .actions
    = f.submit 'Отправить ответ'
