%h1 Вопрос
= link_to 'Cписок вопросов', questions_path

%h3= "#{@question.title}"

%p= "#{@question.body}"

- @question.answers.each do |a|
  %div{class: "answer-#{a.id}"}
    %h3 Ответ
    - if user_signed_in? && (current_user.id == a.user_id)
      = link_to 'Удалить ответ',
        question_answer_path(@question, a), method: :delete
      |
      = link_to 'Редактировать ответ'
    %p= a.body
  %br

= form_for [@question, @answer] do |f|
  .field
    = f.label :body, 'Новый ответ'
    = f.text_area :body
  .actions
    = f.submit 'Отправить ответ'
