.container
  .question{data: {question_id: @question.id}, id: "question-#{@question.id}"}
    %h1= "Вопрос № #{@question.id}"
    = render 'question'
    = render 'common/comments', commentable: @question

    - if !current_user.nil?
      = render 'questions/comment_form'

.answers{data: { question_id: @question.id } } 
  = render 'answers'

.container
  = render 'answers/form_new'

= subscribe_to "/questions/#{@question.id}/answer"
= subscribe_to "/questions/#{@question.id}/comment"
