%div.col-md-6{id: "answer-#{answer.id}"}
  %h3= answer.is_best ? "Лучший ответ" : "Ответ"

  = render 'answers/links', answer: answer

  .answer-errors

  .content
    = render 'answers/content', answer: answer

  = render 'answers/vote', answer: answer

  = render 'answers/form_edit', answer: answer

  = render 'common/comments', commentable: answer

  = render 'answers/comment_form', answer: answer if can? :create, Comment
