%div.col-md-6{id: "answer-#{answer.id}"}
  %h3= answer.is_best ? "Лучший ответ" : "Ответ"

  = render 'answers/links', answer: answer

  .answer-errors

  .content
    = render 'answers/content', answer: answer

  = render 'answers/vote', answer: answer

  = form_for [@question, answer], remote: true, html: { id: "edit-answer-#{answer.id}" } do |f|
    .field
      = f.label :body, 'Ответ'
      = f.text_area :body

    .actions
      = f.submit 'Сохранить', data: { answer_id: answer.id }

  = render 'common/comments', commentable: answer
  = render 'answers/comment_form', answer: answer

  = subscribe_to "/answer/#{answer.id}/comment"
