%div{id: "answer-#{answer.id}"}
  %h3 Ответ
  = render 'answers/links', answer: answer  
  .answer-errors
  %p= answer.body

  = form_for [@question, answer], remote: true, html: { id: "edit-answer-#{answer.id}" } do |f|
    .field
      = f.label :body, 'Ответ'
      = f.text_area :body
    .actions
      = f.submit 'Сохранить', data: { answer_id: answer.id }
