.add-comment-link{ data: { answer_id: answer.id } }
  = link_to 'Добавить комментарий', '#', data: { answer_id: answer.id }

.comment-errors

= form_for [answer, answer.comments.build], remote: true do |f|
  .field
    = f.label :body, 'Комментарий'
    %br
    = f.text_area :body
  = f.submit 'Добавить', class: 'add-comment-button', data: { answer_id: answer.id }
