= form_for object, remote: true, html: edit_answer_id do |f|
  .field
    = f.label     :body,
      t('.body', action: answer.new_record? ? 'New ' : '')
    .answer-errors
    = f.text_area :body
    = render 'attachments/fields_for', f: f,
      attachments: answer.attachments.first || answer.attachments.build
    .actions
      = f.submit t('.submit', action: answer.new_record? ? 'Publish' : 'Save'), data: id
